@import '../../../styles/variables.scss';
@import '../../../styles/media.css';

.root {
  position: relative;
  padding: $indent-m;
  display: flex;
  width: 100%;
  max-width: 500px;
  flex-direction: column;
  justify-content: space-between;
  color: black;

  @media (--tablet-large) {
    padding: $indent-xl;
  }
}

.image {
  position: relative;
  z-index: 100;
  top: -50px;
  margin: 0 auto;
  overflow: hidden;
  width: 100%;
  max-height: 250px;
  background-color: white;
  border-radius: 6px;
  box-shadow: 0 5px 15px -8px rgb(0 0 0 / 24%), 0 8px 10px -5px rgb(0 0 0 / 20%);
  transition: all $duration $timing;
  will-change: top;

  &Active {
    top: -80px;
  }
}

.leftFooterIcon {
  width: 15%;

  @media (--tablet) {
    width: 10%;
  }
}

.body {
  position: relative;
  margin-top: -25px;
}

.footer {
  margin-top: $indent-xl;
  padding-top: $indent-m;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #eeeeee;
}

.controllers {
  z-index: 0;
  margin-bottom: $indent-l;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  @media (--tablet) {
    flex-direction: row;
  }
}

.subtitle {
  font-size: .8rem;
  line-height: 1;
  font-weight: 300;

  @media (--tablet) {
    font-size: 1rem;
    line-height: 1.75;
    font-weight: 400;
  }
}
