@import '../../../styles/variables.scss';
@import '../../../styles/media.css';

.cards {
  padding: 24px;
  display: grid;
  gap: $indent-l;
  grid-template-columns: repeat(1, 1fr);
  background-color: white;

  @media (--tablet) {
    justify-items: center;
  }

  @media (--tablet-large) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (--desktop) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.cards > div {
  margin-bottom: $indent-xl;

  @media (--tablet-large) {
    margin-bottom: $indent-xxxl;
  }
}

.title {
  margin-bottom: $indent-l;
  text-align: center;
}

.modalButton {
  margin-top: $indent-l;
  margin-bottom: $indent-xxxl;
  width: 200px;
}

.controls {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (--tablet) {
    flex-direction: row;
  }
}

.controls > button {
  margin-bottom: 0;

  @media (--tablet) {
    margin-right: $indent-m;
    margin-bottom: $indent-m;
    margin-left: $indent-m;
  }
}

.controls > button:last-child {
  margin-right: 0;
  margin-bottom: $indent-xl;

  @media (--tablet) {
    margin-right: $indent-m;
    margin-bottom: $indent-m;
    margin-left: $indent-m;
  }
}
