@import '../../../styles/variables.scss';
@import '../../../styles/media.css';

.root {
  margin-top: $indent-xxxl;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.join {
  margin-top: $indent-xxxl;
  margin-bottom: $indent-xxxl;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  @media (--tablet-large) {
    width: 60%;
    flex-direction: row;
  }
}

.leftSideImage {
  width: 100%;
  max-width: 300px;

  @media (--tablet-large) {
    width: 45%;
    flex-direction: row;
  }
}

.rightSideText {
  margin-top: $indent-xxl;
  width: 100%;
  text-align: center;

  @media (--tablet-large) {
    margin-top: 0;
    width: 45%;
    flex-direction: row;
    text-align: left;
  }
}

.text1 {
  margin-bottom: $indent-xl;
}

.text2 {
  margin-bottom: $indent-l;
}

.button {
  //   padding: $indent-xs 0;
}
