@import '../../../styles/variables.scss';
@import '../../../styles/media.css';

.root {
  display: flex;
  width: 100%;
  height: calc(100vh - $header-height);
  flex-direction: column;
  justify-content: space-between;
  align-items: space-between;
}
