@import '../../../styles/variables.scss';
@import '../../../styles/media.css';

.root {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.logo {
  width: 200px;
  height: 44px;
}

.leftSide {
  padding: $indent-s;

  @media (--tablet) {
    display: flex;
    align-items: center;
  }
}

.rightSide {
  margin-right: $indent-s;
  padding: $indent-s;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;

  @media (--tablet) {
    align-items: center;
  }
}
