@import '../../../styles/variables.scss';
@import '../../../styles/media.css';

.paper {
  position: relative;
  margin: 0 auto;
  padding: $indent-s;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (--tablet-large) {
    padding: $indent-xl;
    width: 50%;
  }
}

.form {
  margin-bottom: $indent-l;
  display: flex;
  width: 100%;
  flex-direction: column;
}
/* stylelint-disable selector-max-universal */
.form > * {
  margin-bottom: $indent-l;
}

.form > *:last-child {
  margin-bottom: 0;
}

.image {
  margin: 0 auto;
  min-width: 50%;

  @media (--tablet) {
    min-width: 25%;
  }

  @media (--tablet-large) {
    margin-bottom: $indent-xl;
  }
}

.link {
  margin-top: $indent-l;
}

.switchButton {
  margin: $indent-s 0;
  width: 100%;

  @media (--tablet-large) {
    position: absolute;
    top: 0;
    right: 0;
    margin: $indent-xl;
    width: auto;
  }
}

.title {
  margin-top: $indent-l;

  @media (--tablet-large) {
    margin-top: 0;
    margin-bottom: $indent-xxxl;
  }
}

.preloader {
  display: flex;
  width: 100%;
  justify-content: center;
}
