@import '../../../styles/variables.scss';
@import '../../../styles/media.css';

.title {
  display: flex;
  justify-content: center;
}

.cards {
  padding: 24px;
  display: grid;
  gap: $indent-l;
  grid-template-columns: repeat(1, 1fr);
  background-color: white;

  @media (--tablet) {
    justify-items: center;
  }

  @media (--tablet-large) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (--desktop) {
    grid-template-columns: repeat(3, 1fr);
  }
}
