@import '../../../styles/variables.scss';
@import '../../../styles/media.css';

.root {
  position: relative;
  padding: $indent-m;
  display: flex;
  width: 100%;
  max-width: 500px;
  flex-direction: column;
  justify-content: space-between;
  color: black;

  @media (--tablet-large) {
    padding: $indent-xl;
  }
}
