@import '../../../styles/variables.scss';
@import '../../../styles/media.css';

.root {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: $indent-m;
  width: 100%;
  transform: translate(-50%, -50%);
}

.container {
  margin: 0 auto;
  padding: $indent-l;
  max-width: 600px;
}

.form {
  display: grid;
  gap: $indent-l;
  grid-template-columns: repeat(1, 1fr);
}

.title {
  margin-bottom: $indent-l;
  text-align: center;
}
