@import '../../../styles/variables.scss';
@import '../../../styles/media.css';

.image {
  position: relative;
  margin: 0 auto;
  width: 100%;

  @media (--tablet) {
    display: block;
    max-width: 800px;
  }
}
