@import '../../../styles/variables.scss';
@import '../../../styles/media.css';

.root {
  position: relative;
  margin-top: 48px;
  padding: $indent-xxxl;
  background: linear-gradient(
    135deg,
    rgb(252, 207, 49) 10%,
    rgb(245, 85, 85) 100%
  );

  @media (--tablet-large) {
    margin-top: 100px;
  }
}

.cards {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;

  @media (--tablet-large) {
    flex-direction: row;
  }
}

.image {
  margin: 0 auto;
  width: 150px;
}

.card {
  position: relative;

  @media (--tablet-large) {
    padding: 24px;
  }
}

.text {
  margin-top: $indent-l;
  text-transform: uppercase;
}

.description {
  margin: 0 auto;
  margin-bottom: 36px;
}
